# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data files
Data/
*.csv
*.xlsx

# Python version manager
.python-version

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
